
@media (max-width: 1599px) {

}

@media (max-width: 1399px) {

}

@media (max-width: 1199px) {

/*
========================================
Start About us Section Css
========================================
*/

.name-phone-email ul:nth-child(2),
.name-phone-email ul:last-child,
.nationality-address-freeelance ul:first-of-type,
.nationality-address-freeelance ul:nth-child(2),
.nationality-address-freeelance ul:last-child{
  margin-top: 5px;
}
/*
========================================
End About us Section Css
========================================
*/

/*
========================================
Start Skill Section Css
========================================
*/
.skill-title p{
    width: 65%;
}
/*
========================================
End Skill Section Css
========================================
*/

/*
========================================
Start Testimonial Section Css
========================================
*/
.testimonial-desc{
    padding-left: 35px;
    padding-right: 35px;
}
/*
========================================
End Testimonial Section Css
========================================
*/

}

@media (max-width: 991px) {
/*
========================================
Start Reusable Components
========================================
*/
:root{
  --heading: 37px;
}
.pt-md-60{
    padding-top: 60px;
}
.pb-md-70{
    padding-bottom: 70px;
}
.pb-md-40{
    padding-bottom: 40px;
}
.pb-md-45{
    padding-bottom: 45px;
}
/*
========================================
End Reusable Components
========================================
*/

/*
========================================
Start Header Section Css
========================================
*/

.nav-menu{
    display: none;
}
/*
======================
MOBILE MENU                         
======================                      
*/

.mobile-menu{
    display:block !important;
}

/*
===================================
Start Banner
===================================
*/
.banner-desc h1{
    font-size: 45px;
}
.banner .banner-desc p {
    font-size: 15px;
}
/*
===================================
End Banner
===================================
*/

/*
========================================
End Header Section Css
========================================
*/

/*
========================================
Start Skill Section Css
========================================
*/
.skill-title p {
    width: 76%;
}
/*
========================================
End Skill Section Css
========================================
*/

/*
========================================
Start Services Section Css
========================================
*/
.service-title p{
    width: 70%;
}
.service-box {
    min-height: auto !important;
    padding-bottom: 50px;
}
/*
========================================
End Services Section Css
========================================
*/

/*
========================================
Start Portfolio Section Css
========================================
*/
.portfolio-title p{
    width: 75%;
}
/*
========================================
End Portfolio Section Css
========================================
*/

/*
========================================
Start Testimonial Section Css
========================================
*/
.testimonial-title p{
    width: 70%;
}
.testimonial-desc{
    min-height: auto;
}
/*
========================================
End Testimonial Section Css
========================================
*/

/*
========================================
Start Price Section Css
========================================
*/
.price-title p {
    width: 81%;
}
/*
========================================
End Price Section Css
========================================
*/

/*
========================================
Start Contact Section Css
========================================
*/
.contact-title h2{
    font-size: 28px;
}
.contact-title p{
    width: 81%;
}
.contact-adress li:first-child i {
    margin-bottom: 6px;
}
/*
========================================
End Contact Section Css
========================================
*/

}

@media (max-width: 767px) {
/*
========================================
Start Reusable Components
========================================
*/
/*
========================================
End Reusable Components
========================================
*/

/*
========================================
Start Header Section Css
========================================
*/

/*
===================================
Start Banner
===================================
*/
.banner {
    padding-top: 60px;
}
.banner .banner-desc p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
/*
===================================
End Banner
===================================
*/

/*
========================================
End Header Section Css
========================================
*/

/*
========================================
Start About us Section Css
========================================
*/
.about-row > *{
    margin-bottom: 30px;
}
.about-desc p{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
/*
========================================
End About us Section Css
========================================
*/

/*
========================================
Start Skill Section Css
========================================
*/
.skill-title p {
    width: 84%;
}
/*
========================================
End Skill Section Css
========================================
*/

/*
========================================
Start Services Section Css
========================================
*/
.service-title p {
    width: 90%;
}
/*
========================================
End Services Section Css
========================================
*/

/*
========================================
Start Portfolio Section Css
========================================
*/
.portfolio-title p {
    width: 90%;
}
/*
========================================
End Portfolio Section Css
========================================
*/

/*
========================================
Start Testimonial Section Css
========================================
*/
.testimonial-title p {
    width: 94%;
}
.swiper-wrapper{
    padding-bottom: 65px;
}
/*
========================================
End Testimonial Section Css
========================================
*/

/*
========================================
Start Price Section Css
========================================
*/
.price-title p {
    width: 94%;
}
/*
========================================
End Price Section Css
========================================
*/

/*
========================================
Start Contact Section Css
========================================
*/
.contact-title p {
    width: 92%;
}
.contact-row > *{
    margin-bottom: 30px;
}
/*
========================================
End Contact Section Css
========================================
*/

/*
========================================
Start Footer Section Css
========================================
*/
.footer-icon{
    margin-bottom: 15px;
}
/*
========================================
End Footer Section Css
========================================
*/
}

@media (max-width: 575px) {

/*
========================================
Start Reusable Components
========================================
*/
.primary-btn {
    font-size: 15px;
}
:root{
  --heading: 35px;
}
/*
========================================
End Reusable Components
========================================
*/

/*
========================================
Start Header Section Css
========================================
*/

/*
======================
MOBILE MENU                         
======================                      
*/

.mobile-menu .nav-list {
    right: -100%;
    width: 100%;
}

/*
===================================
Start Banner
===================================
*/
.banner .banner-desc h1 {
    margin-top: -3px;
    margin-bottom: -3px;
    font-size: 35px;
}
/*
===================================
End Banner
===================================
*/

/*
========================================
End Header Section Css
========================================
*/

/*
========================================
Start About us Section Css
========================================
*/
.about-desc p {
    width: 100%;
}
/*
========================================
End About us Section Css
========================================
*/

/*
========================================
Start Skill Section Css
========================================
*/
.skill-title p {
    width: 100%;
}
/*
========================================
End Skill Section Css
========================================
*/

/*
========================================
Start Services Section Css
========================================
*/
.service-title p {
    width: 100%;
}
.service-box {
    padding-left: 20px;
    padding-right: 20px;
}
/*
========================================
End Services Section Css
========================================
*/

/*
========================================
Start Portfolio Section Css
========================================
*/
.portfolio-title p {
    width: 99%;
}
/*
========================================
End Portfolio Section Css
========================================
*/

/*
========================================
Start Testimonial Section Css
========================================
*/
.testimonial-title p {
    width: 100%;
}
/*
========================================
End Testimonial Section Css
========================================
*/

/*
========================================
Start Price Section Css
========================================
*/
.price-title p {
    width: 100%;
}
/*
========================================
End Price Section Css
========================================
*/

/*
========================================
Start Contact Section Css
========================================
*/
.contact-title p {
    width: 100%;
}
.form-wrapper{
padding: 30px 25px;
}
.contact-adress li:not(last-child){
    margin-bottom: 10px;
}
/*
========================================
End Contact Section Css
========================================
*/

/*
========================================
Start Footer Section Css
========================================
*/
ul.footer-menu {
    margin-top: 23px;
}
.footer-bottom-row {
    padding-top: 20px;
}
/*
========================================
End Footer Section Css
========================================
*/
}













